@model DVDLibrary.Models.MovieVM
@{
    ViewBag.Title = "ManageCustomers";
}
<style>#headTitle{margin-bottom: 30px;}</style>

    <div class="row">
        <div class="col-xs-4" style="margin-bottom: 50px;">
            <h2>Manage Customers</h2>
        </div>
    <div class="col-xs-4">
        <!--Button trigger modal-->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Add Customer
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        @using (Html.BeginForm(new { id = "theForm" }))
        {


            <form class="form-inline">
                <div class="form-group">
                    <label>Search for Customer</label>
                    @Html.TextBoxFor(m => m.Borrower.Name, new { @class = "form-control", id = "customer", PlaceHolder = "Search customer by name" })
                    <p class="help-block">@Html.ValidationMessageFor(m => m.Borrower.Name)</p>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" id="inputBtn">Search</button>
                </div>
            </form>
        }
</div>
        <!---->
        <div class="col-xs-6">
            <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
                @foreach (var b in Model.Iborrowers)
            {

                    <div class="panel panel-default gensingle" data-title="@b.Name">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordian" href="#collapseOne" aria-expanded="true" aria-controls="@b.Id">
                                    @b.Name
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                        <tr>
                                            <td>@b.Name</td>
                                            <td>@b.EmailAddress</td>
                                        </tr>
                                        <tr>
                                            <th>Street Number</th>
                                            <th>Street Name</th>
                                        </tr>
                                    <tr>
                                        <td>@b.StreetNumber</td>
                                        <td>@b.StreetName</td>
                                    </tr>
                                        <tr>
                                            <th>City</th>
                                            <th>Zip Code</th>
                                        </tr>
                                        <tr>
                                            <td>@b.City</td>
                                            <td>@b.ZipCode</td>
                                        </tr>
                                        <tr>
                                            <th>Customer Id</th>
                                            <th>Movie</th>
                                        </tr>
                                        <tr>
                                            <td>@b.Id</td>
                                            <td>@b.Movie</td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="row">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="col-xs-12">
                                            @Html.ValidationSummary(true)
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">Customer Details</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label> Name:</label>
                                                                @Html.TextBoxFor(m => m.Borrower.Name, new { @class = "form-control" })
                                                                <p class="help-block">@Html.ValidationMessageFor(m => m.Borrower.Name)</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label> Email:</label>
                                                                @Html.TextBoxFor(m => m.Borrower.EmailAddress, new { @class = "form-control" })
                                                                <p class="help-block">@Html.ValidationMessageFor(m => m.Borrower.EmailAddress)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label>Street Number:</label>
                                                                @Html.TextBoxFor(m => m.Borrower.StreetNumber, new { @class = "form-control" })
                                                                <p class="help-block">@Html.ValidationMessageFor(m => m.Borrower.StreetNumber)</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label>Street Name</label>
                                                                @Html.TextBoxFor(m => m.Borrower.StreetName, new { @class = "form-control" })
                                                                <p class="help-block">@Html.ValidationMessageFor(m => m.Borrower.StreetName)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label>City</label>
                                                                @Html.TextBoxFor(m => m.Borrower.City, new { @class = "form-control" })
                                                                <p class="help-block">@Html.ValidationMessageFor(m => m.Borrower.City)</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label>Zipcode</label>
                                                                @Html.TextBoxFor(m => m.Borrower.ZipCode, new { @class = "form-control" })
                                                                <p class="help-block">@Html.ValidationMessageFor(m => m.Borrower.ZipCode)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CustomerList-->
<div class="row">
    <div class="col-xs-6">
        <div><h4>Customers</h4></div>



        @foreach (var c in Model.Iborrowers)
        {

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td class="gen@(c.Name) movie"> @c.Name |<a href="#" data-toggle="modal" data-target="#myModal@(c.Id)">View</a></td>
                    </tr>
                </tbody>
            </table>



            <!-- -->
            <div class="modal fade" id="myModal@(c.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">@c.Name</h4>
                        </div>
                        <div class="modal-body">

                            <table>
                                <tbody>
                                    <tr>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Street Number
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @c.EmailAddress
                                        </td>
                                        <td>
                                            @c.StreetNumber
                                        </td>
                                    <tr>
                                        <th>
                                            Street Name
                                        </th>
                                        <th>
                                            City
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @c.StreetName
                                        </td>
                                        <td>
                                            @c.City
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Zip Code
                                        </th>
                                        <th>
                                            Movie
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @c.ZipCode
                                        </td>
                                        <td>
                                            @c.Movie
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       
                    </div>
                </div>
            </div>

        }

    </div>
</div>








@section scripts{
    <script type="text/javascript">

        $(function () {
            //function hideMovieCats() {
            //    $(".movie").hide();
            //}

            //hideMovieCats();
            //$("select")
            //    .change(function () {
            //        hideMovieCats();
            //        var genre = $("select option:selected").val();
            //        $(".gen" + genre).show();

            //    });

            function hideOne() {
                $(".gensingle").hide();
            }

            hideOne();
            $("#inputBtn")
                .click(function (evt) {
                    hideOne();
                    evt.preventDefault();
                    var input = $("#customer").val();
                    var jstring = "[data-title*='" + input.toLowerCase() + "']";
                    $(jstring).show();

                });

            //$("#myModal").on("show.bs.modal", function (e) {
            //    var link = $(e.relatedTarget);
            //    $(this).find(".modal-body").load(link.attr("href"));
            //});

        })

    </script>
}

@*//    $('#myModal').click(function(event) {
    //  event.preventDefault();
    //  $.get(this.href, function(html) {   <---(@model.INFORMATION)
    //    $(information).appendTo('body').modal();
    //});
    //});*@